*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator{
    display: grid;
    justify-content: center;
    Max-width: 620px;
    margin: 20px auto;
    padding: 40px;
    align-items: center;
    border: 0px solid rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, 0.5);
}

.input-area{
    display: flex;
    margin: 5px;
    border: 1px solid #ff43;
}

input{
    width: 100%;
    border: none;
}
